<?xml version="1.0"?>
<launch>

  <node pkg="orb_slam_2_ros" name="orb_slam_2_ros_node" type="orb_slam_2_ros_node" output="screen" >
    <param name="interface_type" value="rgbd" />
    <param name="vocabulary_file_path" value="/home/janebek/Janebek/eth_orb_slam2_ros_ws/build/orb_slam_2_catkin/orb_slam_2_src-prefix/src/orb_slam_2_src/Vocabulary/ORBvoc.txt" />
    <param name="settings_file_path" value="/home/janebek/Janebek/eth_orb_slam2_ros_ws/src/orb_slam_2_ros/config/euroc/RealSense_D435i.yaml" />
    <remap from="/camera/rgb/image_raw" to="/camera/color/image_raw"/>
    <remap from="camera/depth_registered/image_raw" to="/camera/aligned_depth_to_color/image_raw"/>
    <!-- optional parameters -->
    <!-- set frames here
    <param name="verbose" value="" />
    <param name="frame_id" value="" />
    <param name="child_frame_id" value="" />
	-->
  
</node>

</launch>
